---
layout: handbook-page-toc
title: Technical Discovery
---
## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial("handbook/customer-success/solutions-architects/includes/navigation") %>


# Technical Discovery
{:.no_toc}

## Key Links
- [SA Tech Discovery Guide](https://docs.google.com/document/d/1GZnbqE_rtGFRAJxoeje4mtFyP1AfpLLueESijXgikm4/edit#heading=h.4b6ktib5prk9)
- [SA Modern Apps Discovery Process & Guide](https://docs.google.com/document/d/11-o9oTxSLomBoOTerGnfj3HXzXbouZ2p6yuIfXuJweQ/edit?ts=5ff6441b#heading=h.4b6ktib5prk9)
- [Technical Discovery Training and Certification](https://gitlab.edcast.com/pathways/sa-technical-discovery)


